/*
* Main.css
*/


@import url('https://fonts.googleapis.com/css?family=Roboto|Poppins');

body {
	background: #fff;
}

body, .ui , input {
	font-family: 'Poppins', sans-serif !important;
}
body > .grid {
	height: 100%;
}

.custom-font {
	font-weight: 600;
}
.image {
	margin-top: -100px;
}
.column {
	max-width: 450px;
}

.ui.icon.input i.custom-icon,
.ui.form i.custom-icon {
	cursor: default;
	position: absolute;
	line-height: 1;
	text-align: center;
	top: 0;
	right: 0;
	margin: 0;
	height: 100%;
	width: 2.67142857em;
	opacity: .5;
	pointer-events: none;
	right: auto;
	left: 1px;
	border-radius: .28571429rem 0 0 .28571429rem;
	border-radius: 0 .28571429rem .28571429rem 0;
	-webkit-transition: opacity .3s ease;
	transition: opacity .3s ease;
}
.ui.icon.input i.custom-icon::before,
.ui.form i.custom-icon::before {
	left: 0;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
	margin-top: -.5em;
}
.ui.header>.image, .ui.header>img {
	width: 200px;
	display: block;
}
.ui.stacked.segment:after, 
.ui.stacked.segment:before, 
.ui.stacked.segments:after, 
.ui.stacked.segments:before {
	display: none !important;
}

.ui.segment {
	box-shadow: none;
	border: none;
}

.ui.suggestion {
	border: none;
	box-shadow: none;
	background: none;
}

.ui.custom-color.header {
	color : #067fd8 !important;
}
.ui.blue.button, .ui.blue.buttons .button {
	background-color : #067fd8 ;
}


.ui.custom-color .content {
	color: #2b2b2b;
}




.ui.checkbox {
	display: block !important;
	margin: 20px 0 20px 0;
}

.ui.checkbox label {
	text-align: initial;
}


.forgot_password {
	text-align: right;
	margin-bottom: 20px;
}

/**Footer**/
.hidden.menu {
	display: none;
}

.masthead.segment {
	min-height: 600px;
	padding: 1em 0em;
}
.masthead .logo.item img {
	margin-right: 1em;
}
.masthead .ui.menu .ui.button {
	margin-left: 0.5em;
}
.masthead h1.ui.header {
	margin-top: 2em;
	margin-bottom: 0em;
	font-size: 4em;
	font-weight: normal;
}
.masthead h2 {
	font-size: 1.7em;
	font-weight: normal;
}

.ui.vertical.stripe {
	padding: 8em 0em;
}
.ui.vertical.stripe h3 {
	font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
	margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
	clear: both;
}
.ui.vertical.stripe p {
	font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
	margin: 3em 0em;
}

.quote.stripe.segment {
	padding: 0em;
}
.quote.stripe.segment .grid .column {
	padding-top: 5em;
	padding-bottom: 5em;
}

.footer.segment {
	padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
	display: none;
}

@media only screen and (max-width: 700px) {
	.ui.fixed.menu {
		display: none !important;
	}
	.secondary.pointing.menu .item,
	.secondary.pointing.menu .menu {
		display: none;
	}
	.secondary.pointing.menu .toc.item {
		display: block;
	}
	.masthead.segment {
		min-height: 350px;
	}
	.masthead h1.ui.header {
		font-size: 2em;
		margin-top: 1.5em;
	}
	.masthead h2 {
		margin-top: 0.5em;
		font-size: 1.5em;
	}
}